*{
    background-color:rgb(0, 255, 247);
    text-align: center;
}

img{
    height: 200px;
    width: 200px;
}

#red{
    color: red;
}

#blue{
    color: blue;
}

#orange{
    color: orange;
}

#green{
    color: green;
}

#yellow{
    color: yellow;
}

h1{
    font-size: 50px;
}

